extends layout.pug
   
block content
  section#content
    h2 Hello, My Server!
    p Add the following strings at the end the route:
    p /getData?number=POSITIVE_INTEGER
    p where POSITIVE_INTEGER could be any positive integer, like 5, 10, 135, etc.
